@font-face {
  font-family: 'Geometria-ExtraLight';
  src: url('src/fonts/29AF19_0_0.woff') format('woff');
}

@font-face {
  font-family: 'Geometria-Light';
  src: url('src/fonts/29AF19_2_0.woff') format('woff');
}
