$header-font: 'Geometria-ExtraLight', Helvetica, Arial, sans-serif;
$base-font:   'Geometria-Light', Helvetica, Arial, sans-serif;

$base-font-size:    22px;
$base-line-height:  1.454545455;
$h1-font-size:      62px;
$h1-line-height:    1;
$h2-font-size:      45px;
$h2-line-height:    1;
$small-font-size:   14px;

$gray:        #959595;
$light-gray:  #acacac;
$pale-gray:   #e1e1e1;
$black:       #111;

$emerald:     #29bb9c;
$blue:        #2980b9;
$green:       #2ecc71;
$yellow:      #f39c12;
$red:         #ff6666;
$purple:      #8e44ad;

$colors: (
  emerald:     $emerald,
  blue:        $blue,
  green:       $green,
  yellow:      $yellow,
  red:         $red,
  purple:      $purple
);


$max-width:     1000px;
$border-radius: 5px;

$base-easing:       cubic-bezier(0.445, 0.05, 0.55, 0.95);
$base-easing-time:  1s;
$short-easing-time: 200ms;
