.about {
  margin: 0 auto;
  max-width: 750px;
  text-align: center;

  .likes {
    margin-top: -10px;
  }
}


.about__person {
  display: inline-block;
  font-size: $small-font-size;

  img {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
  }
}


.about__sponsor {
  display: block;
  margin: 80px 0;

  @include min-width(400) {
    margin: 140px 0;
  }
}

.about__em {
  margin: 0 auto;
  width: 200px;
  height: 45px;
  opacity: 1;
  transition: opacity $short-easing-time $base-easing;

  @include min-width(400) {
    width: 319px;
    height: 72px;
  }

  &:hover {
    opacity: 0.9;
  }
}
