body {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $max-width;
  color: $gray;
  font: #{$base-font-size}/$base-line-height $base-font;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;

  &:before {
    display: block;
    height: 4px;
    content: "";
    transition: background $base-easing-time $base-easing;
  }
}

@each $name, $color in $colors {
  .#{$name}:before {
    background: $color;
  }
}


a {
  transition: color $short-easing-time $base-easing;
  .icon__cnt {
    transition: fill $short-easing-time $base-easing;
  }
}


h1, h2, h3 {
  margin: 0 0 12px;
  color: $black;
  text-align: center;
  font-weight: normal;
  font-family: $header-font;

  small, sup {
    letter-spacing: 0;
    font-family: $base-font;
  }
}


h1 {
  letter-spacing: -4px;
  font-size: $h1-font-size;
  line-height: $h1-line-height;

  sup {
    position: relative;
    top: -($small-font-size - 1);
    color: $light-gray;
    font-size: $small-font-size;
  }
}


h2 {
  margin-bottom: 35px;
  letter-spacing: -2px;
  font-size: $h2-font-size;
  line-height: $h2-line-height;

  small {
    margin-top: 10px;
  }
}


p {
  margin: 0 0 1em;
}


small {
  display: block;
  color: $light-gray;
  font-size: $small-font-size;
}


a, a:visited {
  color: $gray;
  text-decoration: none;

  .icon {
    vertical-align: -7px;

    fill: $gray;
  }

  &:hover {
    @include colored;

    cursor: pointer;
    .icon {
      @include colored(fill);
    }
  }

  img {
    border: none;
  }
}

