.header {
  margin: 60px 0 100px;
  text-align: center;
}

.header__btn {
  margin: 0 0 20px;

  @include min-width(450) {
    display: inline-block;
  }

  @include min-width(500) {
    margin: 10px;
  }

  @include max-width(767) {
    & + & {
      display: none;
    }
  }

  .btn {
    margin-bottom: 10px;

    @include max-width(1023) {
      max-width: 100%;
      width: 400px;
    }
  }
}


.header__logo {
  $size: 200px;
  @include colored(background);
  position: relative;
  width: $size;
  height: $size;
  margin: 0 auto -10px;
  transition: background $base-easing-time $base-easing;

  svg {
    position: absolute;
    top: -1px;
    left: -1px;
    width: $size + 2;
    height: $size + 2;
  }
}
