.header {
  margin: 60px 0 100px;
  text-align: center;

  h1 {
    position: relative;
    z-index: 10;
  }
}

.header__btn {
  margin: 0 0 20px;

  @include min-width(450) {
    display: inline-block;
  }

  @include min-width(500) {
    margin: 10px;
  }

  @include max-width(767) {
    & + & {
      display: none;
    }
  }

  .btn {
    min-width: 230px;
    margin-bottom: 10px;
    vertical-align: top;

    @include max-width(1023) {
      max-width: 100%;
      width: 400px;
    }
  }
}

.header__download {
  .btn {
    position: relative;
    height: 60px;
    overflow: hidden;

    .icon {
      display: block;
      position: absolute;
      top: 16px;
      right: 10px;
      fill: $gray;
      transition: fill $short-easing-time $base-easing;
    }

    .icon__cnt {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover .icon {
      @include colored(fill);
    }

    select {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      height: 100%;
      opacity: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 16px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}



.header__logo {
  $size: 200px;
  @include colored(background);
  position: relative;
  width: $size;
  height: $size;
  margin: 0 auto -10px;
  transition: background $base-easing-time $base-easing;

  svg {
    position: absolute;
    top: -1px;
    left: -1px;
    width: $size + 2;
    height: $size + 2;
  }
}
