.icons {
  position: relative;
  margin: 40px 0 74px;
  text-align: center;
  text-align-last: left;
  font-size: 0;

  @include min-width(1050) {
    text-align: justify;
  }
}


.icons__plate {
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  width: 140px;
  color: $light-gray;
  vertical-align: top;
  text-align: center;
  font-size: $small-font-size;

  .icon {
    @include colored(fill);
  }

  .icon__cnt {
    transition: fill $base-easing-time $base-easing;
  }

  .icons--s & {
    width: 200px;
    text-align: left;
    font-size: 16px;

    .icon {
      margin-right: 5px;
      vertical-align: middle;
    }

    figcaption {
      display: inline-block;
      vertical-align: middle;
    }
  }
}


.icons__switch {
  margin: 0 auto 30px;
  text-align: center;

  @include min-width(1050) {
    position: absolute;
    top: -110px;
  }
}

.icons__btn {
  display: inline-block;
  padding: 0 20px;
  width: 60px;
  height: 45px;
  border-right-width: 0;
  border-radius: 0;
  font-size: $small-font-size;
  line-height: 45px;

  .hairlines & {
    border-right-width: 0;
  }

  &:last-child {
    border-right-width: 1px;
    border-radius: 0 $border-radius $border-radius 0;
    .hairlines & {
      border-right-width: 0.5px;
    }
  }

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:hover + & {
    @include colored(border-left-color, 10%);
  }

  &.is-active + & {
    @include colored(border-left-color);
  }

   @include max-width(450) {
    &:first-child {
      display: none;
    }
    &:first-child + & {
      border-radius: $border-radius 0 0 $border-radius;
    }
  }
}

