.likes {
  height: 30px;
  margin-bottom: 40px;
}

.likes__fb, .likes__tw, .likes__gh {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.likes__fb .fb_iframe_widget {
  top: -10px;

  .ie & {
    top: -8px;
  }
}

.likes__tw {
  width: 80px;
}

.likes__fb {
  margin-right: 20px;
}


@include max-width(400) {
  .likes {
    height: 100px;
    text-align: center;
  }

  .likes__fb, .likes__tw, .likes__gh {
    display: block;
  }

  .likes__tw {
    display: inline-block !important;
  }
}
