$header-font: 'Geometria-ExtraLight', Helvetica, Arial, sans-serif;
$base-font:   'Geometria-Light', Helvetica, Arial, sans-serif;

$base-font-size:    22px;
$base-line-height:  1.454545455;
$h1-font-size:      62px;
$h1-line-height:    1;
$h2-font-size:      45px;
$h2-line-height:    1;

$small-font-size:   14px;

$emerald:     #29bb9c;
$gray:        #959595;
$light-gray:  #acacac;
$pale-gray:   #e1e1e1;
$black:       #111;

$max-width: 1000px;
$border-radius: 5px;

$button-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
