body {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a, a:visited {
  color: #3aa9e1;
}

code, pre {
  padding: 0 5px;
  background: #eee;
}

pre {
  max-width: 600px;
  padding: 5px 10px;
  overflow-x: scroll;
}

.icons {
  margin: 50px 0;
  font-size: 0;
}

.sizes {
  margin-bottom: 40px;
}

.size-button {
  border: none;
  height: 40px;
  padding: 0 20px;
  background: #b5b5b5;
  display: inline-block;
  -webkit-transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition:         all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.size-button:hover {
  cursor: pointer;
  background: #d8d8d8;
}


.plate {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  margin: 0 20px 20px 0;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  color: #999;
}

.icon {
  fill: #2c3e50;
}

.icon__cnt {
  -webkit-transition: fill 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition:         fill 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


