doctype html
html
  head
    title Evil Icons
    link(rel="stylesheet" href="/assets/app.css")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    meta(name="description"         content="Evil Icons. Lightweight SVG icons for your web project")

    meta(property="og:title"        content="Evil Icons")
    meta(property="og:description"  content="Evil Icons. Lightweight SVG icons for your web project")
    meta(property="og:url"          content="http://evil-icons.io")
    meta(property="og:type"         content="website")

    meta(name="twitter:title"       content="Evil Icons")
    meta(name="twitter:description" content="Evil Icons. Lightweight SVG icons for your web project")
    meta(name="twitter:domain"      content="evil-icons.io")


  body.green
    != icons.sprite

    header.header
      h1
        | Evil Icons
        sup v.1.0.1
      p Lightweight SVG icons for your web project

      .header__btn
        a.btn.btn--accent(href="https://github.com/outpunk/evil-icons#evil-icons") Getting Started
        small Install guide for developers

      .header__btn
        a.btn(href="https://github.com/outpunk/evil-icons/raw/master/icons-sources/ei.ai") Download Icons
        small .ai file for designers


    h2
      | Regular Style
      small Copy and paste the names to your code

    article.icons
      .icons__switch
        button.icons__btn.btn(data-size="s") S
        button.icons__btn.btn.is-active(data-size="m") M
        button.icons__btn.btn(data-size="l") L

      each icon in iconNames
        figure.icons__plate
          != icons.icon(icon, {size: "m"})
          figcaption= icon


    h2 Free & Open

    article.about
      p
        | A&nbsp;lot of&nbsp;tools we&nbsp;are using for daily job are based on&nbsp;open-source technologies.
        | For&nbsp;us, it&nbsp;is&nbsp;vital to&nbsp;be&nbsp;a&nbsp;part of&nbsp;the community,
        | to&nbsp;participate in&nbsp;the open source movement and to&nbsp;give back as&nbsp;well
        | as&nbsp;to&nbsp;start new projects. That is&nbsp;why Evil Icons is&nbsp;completely free.

      //- p Support us:

      figure.about__person
        a.link(href="https://twitter.com/outpunk")
          img(src="/assets/images/sasha.jpg")
          figcaption Alexander Madyankin

      figure.about__person
        a.link(href="https://twitter.com/romanshamin")
          img(src="/assets/images/roma.jpg")
          figcaption Roman Shamin

      a.link.about__sponsor
        p Sponsored by Evil&nbsp;Martians
        .about__em


    footer.footer
      p Evil Icons licensed under MIT License
      a.link(href="https://github.com/outpunk/evil-icons")
        | GitHub Repo
        != icons.icon("ei-external-link")


  //- script.
  //-   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  //-   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  //-   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  //-   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //-   ga('create', 'UA-57143070-1', 'auto');
  //-   ga('send', 'pageview');

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="/assets/app.js" defer)

