doctype html
html
  head
    title Evil Icons
    link(rel='stylesheet' href='/assets/app.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')

  body
    != icons.sprite

    h1 Evil Icons
    p
      a(href='https://github.com/outpunk/evil-icons') Evil Icons
      | is a set of SVG icons designed extensively for using in modern web projects. You can use it as-is, or try a Ruby gem (for Ruby on Rails) or an npm package.
    p
      | Made by Alexander Madyankin and Roman Shamin. Sponsored by
      a(href='http://evilmartians.com') Evil Martians
      | .

    section.icons
      .sizes
        button.size-button(data-size='s') S
        button.size-button(data-size='m') M
        button.size-button(data-size='l') L

      each icon in iconNames
        figure.plate
          != icons.icon(icon, {size: 'm'})
          figcaption= icon


