<!DOCTYPE html>
<html>
<head>
  <title>Evil Icons</title>
  <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/evil-icons.css">
  <link rel="stylesheet" type="text/css" href="doc/assets/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

<%= sprite('icons') %>

<h1>Evil Icons</h1>

<p>
  <a href="https://github.com/outpunk/evil-icons">Evil Icons</a> is a set of SVG icons designed extensively for using in modern web projects. You can use it as-is, or try a Ruby gem (for Ruby on Rails) or an npm package.
</p>
<p>Made by Alexander Madyankin and Roman Shamin. Sponsored by <a href="http://evilmartians.com">Evil Martians</a>.</p>


<section class="icons">
  <div class="sizes">
    <button class="size-button" data-size="s">S</button>
    <button class="size-button" data-size="m">M</button>
    <button class="size-button" data-size="l">L</button>
  </div>


  <% icons.each do |icon| %>

    <figure class="plate">
      <div class="icon icon--m icon--<%= icon[:name] %>">
        <svg class="icon__cnt">
          <use xlink:href="#<%= icon[:name] %>-icon">
        </svg>
      </div>
      <figcaption>
        <%= icon[:name] %>
      </figcaption>
    </figure>

  <% end %>
</section>


<h2>Usage</h2>

<h3>Rails</h3>

<p>Add the <code>'evil-icons'</code> gem to your Gemfile:</p>
<pre>
gem 'evil-icons'
</pre>

<p>Add the evil icons require to your <code>application.css</code>:</p>
<pre>
/*= require evil-icons */
</pre>

<p>Next, you have to render the evil-icons sprite in your template (or, in your layout):</p>
<pre>
&lt;%= evil_icons %&gt;
</pre>

<p>
Finally, you can render the icon using the <code>icon</code> helper.
Here are some examples:
</p>
<pre>
&lt;%= icon 'ei-search' %&gt;
&lt;%= icon 'ei-arrow-right', size: :m %&gt;
&lt;%= icon 'ei-envelope', size: :l, class: "custom-class" %&gt;
</pre>


<h3>npm</h3>
<p>Add the <code>'evil-icons'</code> package to your project:</p>
<pre>
npm install evil-icons
</pre>

<p>Add the evil icons styles to your pages:</p>
<pre>
&lt;link rel="stylesheet" type="text/css" href="./node_modules/evil-icons/app/assets/stylesheets/evil-icons.css"&gt;
</pre>

<p>Require `evil-icons` in your JavaScript code:</p>
<pre>
var icons = require("evil-icons").icons
</pre>

<p>
Finally, you can render the icons in your page using helpers.
Here are some examples:
</p>
<pre>
/* A string with SVG sprite */
icons.sprite;

/* Icons rendering */
icon("ei-search");
icon("ei-arrow-right", {size: "m"});
icon("ei-envelope", {size: "l", class: "custom-class"});
</pre>

<h3>Styling</h3>
<p>
Every icon has the <code>.icon</code> class and its modifier including the icon name.
For example, the facebook icon has the <code>.icon--ei-facebook</code> modifier.
</p>
<p>
In addition, an icon may have a size modifier. But we do recommend to change the size using helper's <code>size</code> parameter instead. Evil icons have some predefined sizes:
<code>s</code> (25x25, default), <code>m</code> (50x50), , <code>l</code> (100x100),
<code>xl</code> (150x150) and <code>xxl</code> (200x200).
You may want to add more sizes, we recommend to keep the sizes multiple to 50.
</p>
<pre>
icon("ei-arrow-right", {size: "m"})
</pre>
<p>
Also you may want to add a custom class for an icon.
You can do this using the <code>class</code> parameter:
</p>
<pre>
icon("ei-envelope", {class: "custom-class"})
</pre>
<p>
  An icon's color can be changed in CSS:
</p>
<pre>
.icon {
  fill: green;
}
.icon--ei-facebook {
  fill: blue;
}
</pre>


<script type="text/javascript">

  $(function(){
    var icons   = $('.icon');
    var buttons = $('.size-button');
    var colors  = ['#2c3e50', '#2980b9', '#1abc9c', '#2ecc71', '#f1c40f', '#e74c3c', '#8e44ad'];

    buttons.on('click', function() {
      var modifier = 'icon--' + $(this).data('size');

      $('.icon').removeClass('icon--s icon--m icon--l');
      $('.icon').addClass(modifier);

      buttons.removeClass('is-active');
      $(this).addClass('is-active');
    });


    var color = 1;
    setInterval(function(){
      icons.css('fill', colors[color]);
      if (++color == colors.length + 1) {
        color = 0;
      }
    }, 2000);

  }());

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57143070-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>


